body{
    margin: 0 10%;
    
}

.ZURIE{
    font-size: 37px;
 width: 10%;
 display: inline-block;
 font-family: segoe script;
 color: #1d1645;
}


.header{
    display: inline-block;
    width: 55%;
    margin-left: 12%;
    color: #1d1645;
    position: sticky;
}
.zurie{
    position: static;
}



#liun{
    width: 22%;
    display: inline-block;
}

.sign{
    width: 15%;
    display: inline-block;
    color: #1d1645;
   font-size: 13px;
   margin-left: 4rem;
   position: static;
}


#sign{
    width: 45%;
    border:rgb(255, 115, 0) 0.8px solid ;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 2px 0;
    margin: 0 -10px 0 0;

}

#signn{
    width: 45%;
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 115, 0) ;
    padding: 2px 0;
    border-radius: 5px;
    margin-left: 15px;
}

/* first paragraph*/
.unpa{
    margin:0 5%;
    background-color: #1d1645;
    padding-left:3%;
    display: inline-block;
    padding-bottom: 15px;
    border-radius: 35px;
    
}
.unpa h1{
    display: inline-block;
    width:56%;
    margin-bottom: -0.2%;
    margin: 1% 3% 0 3%;
    float: left;
    color: rgb(247, 240, 255);
}
#unsubpa{
display: inline-block;
width: 48%;
margin: 1% 3% 0 3%;
float: left;
color: rgb(165, 159, 167);

}
.subpa{
    display: inline-flex;
margin: -3% 0 1% 3%;
   width: 54.5%;

    background-color: aliceblue;
border-radius: 9px;
}
.subpa p{
    width: 26%;
border-right:#1d1645 3px solid;
text-align: center;
}

.subpa button{
    width: 67px;
height: 18px;
border: rgba(255, 255, 255, 0.507) 0.001cm solid;
box-sizing: content-box;
border-radius: 5px;
margin-left: auto;
margin-right: auto;
background-color: rgb(255, 89, 0);
color: #e3dfff;
margin-top: 13px;
font-size: 11px;
}

#unimage{
   border-radius: 25px;
    width: 35%;
    height: 16rem;
    margin-top: 1rem;
    margin-bottom: -4%;
        margin-left: -1px;
}

/*services we offer*/

.serv{
    font-size: 31px;
    color: #1d1645;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    margin-left: 3rem;
    width: 24%;
    text-align: center;
    border-left: #1d1645 7px solid;
}

.service{
   width: 45%;
   margin-left: 3%;
    display: inline-block;
    line-height: 16.7px;
    color: #1d1645;
    font-family: 'Lucida Sans',
    'Lucida Sans Regular',
   
   
    sans-serif;
}
#headd{
    font-weight: 600;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.dopa{
    margin-left: 3rem;
}


.dopa img{
    float: left;
    display: inline-block;
    width: 36%;
    height: 19rem;
    border-radius: 20px;
}

/*third section*/
.feat{
    font-size: 31px;
    color: #1d1645;
    font-family:Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif;
    font-weight: 550;
    margin-left: 3rem;
    width: 29%;
    text-align: center;
    border-left: #1d1645 7px solid;
}

.unsect{
    margin-left: 3rem;
    width: 99%;
}

/* first info*/
.unclass{
    display: inline-block;
    background-color: #ffffff;
    width: 23rem;
    
    float:left;
    border-radius: 12px;
    padding-bottom: 7px;
    box-shadow: #393749 1px 1px 7px -4.4px;
}

.unclass img{
    width:40%;
    height: 145px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;

}

.unclassent{
    width: 53%;
    display: inline-block;
   margin-left: 4% ;
   line-height: 8px;

}

.unclassent h2{
    color: rgb(255, 117, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.unclassent button{
    border: none;
    background-color: rgb(255, 117, 3);
    color: #1d1645;
    padding: 3px 14px;
    font-family:Cambria, Cochin, Georgia, serif;
    font-weight: bolder;
    border-radius: 7px;
}

#address{
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #393749;
}

#detail{
    display: inline-flex;
    width: 25%;
    font-size: small;
    font-family: Times, Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', serif;
    font-weight: 400;
}

/* second info*/
.doclass{
  display: inline-block;
    width: 23rem;
   margin-left: 6rem;
   margin-top: -54px;

    border-radius: 12px;
    padding-bottom: 7px;
    box-shadow: #393749 1px 1px 7px -4.4px;
}



.doclass img {
    width: 40%;
    height: 145px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;

}

.doclassent {
    width: 53%;
    display: inline-block;
    margin-left: 4%;
    line-height: 8px;

}

.doclassent h2 {
    color: rgb(255, 117, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.doclassent button {
    border: none;
    background-color: rgb(255, 117, 3);
    color: #1d1645;
    padding: 3px 14px;
    font-family: Cambria, Cochin, Georgia, serif;
    font-weight: bolder;
    border-radius: 7px;
}

#address {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #393749;
}

#detail {
    display: inline-flex;
    width: 25%;
    font-size: small;
    font-family: Times, Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', serif;
    font-weight: 400;
}

/* third info*/


.troiclass{
  float: left;
   text-align: left;
    display: inline-block;
    border-radius: 12px;
    padding-bottom: 7px;
    box-shadow: #393749 1px 1px 7px -4.4px;
    width: 23rem;
    margin-top: 33px;
    
}




.troiclass img {
    width: 40%;
    height: 145px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;

}

.troiclassent {
    width: 53%;
    display: inline-block;
    margin-left: 4%;
    line-height: 8px;

}

.troiclassent h2 {
    color: rgb(255, 117, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.troiclassent button {
    border: none;
    background-color: rgb(255, 117, 3);
    color: #1d1645;
    padding: 3px 14px;
    font-family: Cambria, Cochin, Georgia, serif;
    font-weight: bolder;
    border-radius: 7px;
}

#address {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #393749;
}

#detail {
    display: inline-flex;
    width: 25%;
    font-size: small;
    font-family: Times, Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', serif;
    font-weight: 400;
}

/* forth info*/


.quartclass{
  margin: -39px 0 0 93px;
   text-align: left;
    display: inline-block;
    border-radius: 12px;
    padding-bottom: 7px;
    box-shadow: #393749 1px 1px 7px -4.4px;
    width: 23rem;
    
}




.quartclass img {
    width: 40%;
    height: 145px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;

}

.quartclassent {
    width: 53%;
    display: inline-block;
    margin-left: 4%;
    line-height: 8px;

}

.quartclassent h2 {
    color: rgb(255, 117, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.quartclassent button {
    border: none;
    background-color: rgb(255, 117, 3);
    color: #1d1645;
    padding: 3px 14px;
    font-family: Cambria, Cochin, Georgia, serif;
    font-weight: bolder;
    border-radius: 7px;
}




/*forth class*/


.serv {
    font-size: 31px;
    color: #1d1645;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    margin-left: 3rem;
    width: 24%;
    text-align: center;
    border-left: #1d1645 7px solid;
}

.dosect{
margin: 0 12rem 0 3rem;
color: #1d1645;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12.5px;
border: rgb(255, 117, 3) 1px solid;
padding: 0 0 1rem 0;
border-radius: 45px;
}
.dosect button{
    border: #1d1645 1px solid;
    font-size: 7px;
    background: none;
    border-radius: 15px;
    display: inline-block;
}

.one{
    width:35%;
    display: inline-block;
    margin-left: 4.3rem;
}

.two{
    width:35%;
    display: inline-block;
    margin-left: 7.5rem;
}

.three {
    width: 35%;
    display: inline-block;
margin-left: 4.3rem;
margin-top: 3rem;
}

.four {
    width: 35%;
    display: inline-block;
    margin-left: 7.5rem;
    margin-top: 3rem;
}

#head{
    font-weight: 600;
}


/*fifth section*/


.servwhat {
    font-size: 31px;
    color: #1d1645;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    margin-left: 3rem;
    width: 47%;
    text-align: center;
    border-left: #1d1645 7px solid;
}

#p{
    box-sizing: border-box;
    height: 3rem;
    width: 23rem;
    border-left: #1d1645 4px solid;
    padding-left: 9px;
}
.troisect {
    margin-left: 0rem;
    width: 100%;
    padding: 10px;
}

.troisectone{
    margin-left: 3rem;
    
    width: 20rem;
    display: inline-block;
    box-shadow: #393749 -0.2px 1.5px 5.9px -4.2px;
    box-sizing: content-box;
    padding: 13px 55px 20px 10px;
    border-radius: 25px;
}
.troisectone img{
    margin-top: 5rem;
    width: 3.5rem;
    border-radius: 3rem;
    display: inline-block;
}
.troisecttwo img{
    margin-top: 5rem;
    width: 3.5rem;
    border-radius: 3rem;
    display: inline-block;
   
}

.troisecttwo{
    width: 20rem;
    display: inline-block;
    margin-left: 2rem;
    box-shadow: #393749 -0.2px 1.5px 5.9px -4.2px;
    box-sizing: content-box;
    padding: 13px 55px 20px 10px;
    border-radius: 25px;
    }



.troisecttwo h3{
width: 70%;
margin-top: -3.7rem;
margin-left: 4rem;


}
.troisectone h3{
width: 70%;
margin-top: -3.7rem;
margin-left: 4rem;


}

#hp{
    margin: -0.4rem 0 0 4rem;
}

/*sixth section*/
.quartsect{
    background-color: #1d1645;
    padding: 10px 10px 30px 10px;
    width: 88%;
    margin-left: 3rem;
}

.quartsect p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #b8b5c9;
line-height: 12px;
font-size: 20px;
}

#sub{
font-size: 29px;
font-weight: 500;
color: #ffffff;
}
.quartsect button {
height: 37px;
margin-left: -20px;
border-radius: 7px;
width: 9rem;
color: #1d1645;
background-color: rgb(255, 117, 3) ;
}

#inp{
    width: 60%;
    -moz-box-align: center;
    -webkit-box-align: center;
  margin-right: auto;
    margin-left: 10rem;
    height: 30px;
    
}



/*sixth section*/

.unset{
    width: 18%;
    display: inline-block;
    float: left;
    line-height: 17px;
    color: #1d1645;
    margin-right: 10px;
}

#zur{
    font-family: segoe script;
    font-size: 20px;
    line-height: 17px;
    
}
.doset{
    width: 25%;
    display: inline-block;
    float: left;
    line-height: 13px;
    color: #1d1645;
    margin-left: 6rem;

}
.troiset{
    width: 25%;
    display: inline-block;
    float: left;
color: #1d1645;
margin-left: -10px;
line-height: 13px;
}

.quartset {
    width: 15%;
    display: inline-block;
    color: #1d1645;
    margin-left: -20px;
    line-height: 13px;
}

#id{
    font-size: 20px;
    font-weight: 600;
}


.last{
    margin: 0 1rem 0 6rem ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}